body{
  margin: 0px;
  min-height: 100vh;
  text-align: center;
  background-color: #f86cd7;
  background-image: url('clouds.jpg');
  /*Wonder Boy in Monster World(Genesis)(1991)*/
  background-repeat: repeat-x;
  background-size: 83vh 100vh;
  color: #777;
}


#userMenu{
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #35beff;
  color: white;
}
#userMenu *{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* game board table */
#board{
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 6px white;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  pointer-events: none;
}
.p1{
  background-color: red;
}
.p2{
  background-color: blue;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
