body{
  background-color: black
}

/* game board table */
#board{
  margin-left: auto;
  margin-right: auto;
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 6px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  pointer-events: none;
}
.p1{
  background-color: red;
}
.p2{
  background-color: blue;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
